name: Trivy SCA Scan

on:
  push:
    branches: [ "main" ]

jobs:
  trivy-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate SBOM with Trivy
        uses: aquasecurity/trivy-action@0.18.0
        with:
          scan-type: 'fs'
          format: 'spdx-json'
          output: 'sbom.spdx.json'

      - name: Run Trivy Vulnerability Scanner
        uses: aquasecurity/trivy-action@0.18.0
        with:
          scan-type: 'fs'
          format: 'template'
          template: '@/contrib/html.tpl'
          output: 'trivy-report.html'
          severity: 'CRITICAL,HIGH'

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: trivy-reports
          path: |
            trivy-report.html
            sbom.spdx.json
